<launch>
    <rosparam file="$(find car_controls)/config/controller_diff.yaml" command="load"/>
    <node name="control_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/car" args="--namespace=/car joint_state_controller car_diff_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/car/joint_states"/>
    </node>
</launch>